{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<section class="page-section ctaresults">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="ctaresults-innerdos text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">RESULTADOS</span>
              <span class="section-heading-lower">Árbol de decisión</span>
            </h2>
            <table class="table">
                <tr>
                    <th>Conjunto de entrenamiento</th>
                    <th>Metal_rhythm_patterns </th>
                </tr>
                <tr>
                    <td>Número de ritmos a generar</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>División de cada tiempo</td>
                    <td>4 Filas</td>
                </tr>
                <tr>
                    <td>Ventana libre (n tiempos)</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Duración del nuevo ritmo</td>
                    <td>60 (30 segundos)</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>



<section class="page-section cta">

    <div align='center'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WV6ECGsHnmc" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>


<section class="page-section ctaresults">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="ctaresults-innerdos text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Bosque aleatorio</span>
                </h2>
                <table class="table">
                    <tr>
                        <th>Conjunto de entrenamiento</th>
                        <th>Metal_rhythm_patterns </th>
                    </tr>
                    <tr>
                        <td>Número de ritmos a generar</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>División de cada tiempo</td>
                        <td>4 Filas</td>
                    </tr>
                    <tr>
                        <td>Ventana libre (n tiempos)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Duración del nuevo ritmo</td>
                        <td>60 (30 segundos)</td>
                    </tr>
                </table>
                <div>
                </div>
            </div>
        </div>
</section>


<section class="page-section cta">
    <div align='center'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/se6Fpz_1eGI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section class="page-section ctaresults">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="ctaresults-innerdos text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Perceptrón Multicapa MLP</span>
                </h2>
                <table class="table">
                    <tr>
                        <th>Conjunto de entrenamiento</th>
                        <th>Metal_rhythm_patterns </th>
                    </tr>
                    <tr>
                        <td>Número de ritmos a generar</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>División de cada tiempo</td>
                        <td>4 Filas</td>
                    </tr>
                    <tr>
                        <td>Ventana libre (n tiempos)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Duración del nuevo ritmo</td>
                        <td>60 (30 segundos)</td>
                    </tr>
                    <tr>
                        <td>Épocas de entrenamiento</td>
                        <td>1000 – 10 000</td>
                    </tr>
                </table>
                <div>
                </div>
            </div>
        </div>
</section>

<section class="page-section cta">
    <div align='center'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/biFjkKHQsrQ" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FhJQfB6w83M" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section class="page-section ctaresults">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="ctaresults-innerdos text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Long short-term memory LSTM</span>
                </h2>
                <table class="table">
                    <tr>
                        <th>Conjunto de entrenamiento</th>
                        <th>Metal_rhythm_patterns </th>
                    </tr>
                    <tr>
                        <td>Número de ritmos a generar</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>División de cada tiempo</td>
                        <td>4 Filas</td>
                    </tr>
                    <tr>
                        <td>Ventana libre (n tiempos)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Duración del nuevo ritmo</td>
                        <td>60 (30 segundos)</td>
                    </tr>
                    <tr>
                        <td>Épocas de entrenamiento</td>
                        <td>1000 – 10 000</td>
                    </tr>
                    <tr>
                        <td>Loss</td>
                        <td>9.0353 - 6.6585</td>
                    </tr>
                </table>
                <div>
                </div>
            </div>
        </div>
</section>


<section class="page-section cta">
    <div align='center'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YEL8I-gbz8E" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8QWqiHSyag8" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>


<section class="page-section ctaresults">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="ctaresults-innerdos text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Convolutional Neural Network CNN</span>
                </h2>
                <table class="table">
                    <tr>
                        <th>Conjunto de entrenamiento</th>
                        <th>Metal_rhythm_patterns </th>
                    </tr>
                    <tr>
                        <td>Número de ritmos a generar</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>División de cada tiempo</td>
                        <td>4 Filas</td>
                    </tr>
                    <tr>
                        <td>Ventana libre (n tiempos)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Duración del nuevo ritmo</td>
                        <td>60 (30 segundos)</td>
                    </tr>
                    <tr>
                        <td>Épocas de entrenamiento</td>
                        <td>1000 – 10 000</td>
                    </tr>
                    <tr>
                        <td>Loss</td>
                        <td>12.5338 - 12.4233</td>
                    </tr>
                </table>
                <div>
                </div>
            </div>
        </div>
</section>

<section class="page-section cta">
    <div align='center'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HXaMVKEnQwU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GPK8YkJR3vE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>



{% endblock %}